<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Burpee Timer</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <div class="container">
        <span id="slider-value">50</span>
        <input type="range" min="10" max="275" value="50" step="5" size="500" id="burpee-slider">
        <p id="burpee-per-minute"></p>
        <div id="countdown">20:00</div>
        <div class="button-container">
            <button id="start-button" class="button">Start</button>
            <button id="stop-button" class="button">Stop</button>
            <button id="reset-button" class="button">Reset</button>
        </div>
    </div>
      <script src="{{ url_for('static',filename='timer.js') }}"> </script>
  </body>
</html>
