/* Center the countdown timer */
#countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background-image.jpg');
    background-size: cover;
  }
  
  /* Style the countdown timer */
  #countdown {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    background-color: #0072ff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 4rem;
  }
  
  /* Style the buttons */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 3em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
  }
  
  .button {
    background-color: #00b2ff;
    border: none;
    color: white;
    padding: 1.5rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .button:hover {
    background-color: #0072ff;
  }
  
  input[type="range"] {
    width: 80%;
  }
  
  body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    color: #333;
  }
  